@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

.fw-300 { font-weight: 300;}
.fw-400 { font-weight: 400;}
.fw-600 { font-weight: 600;}
.fw-800 { font-weight: 800;}


body {
    background: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
}

body.dark-mode {
    background: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

/* Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

header {
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 1px 1px 1px rgba(200,200,200,0.25);
}

body.dark-mode header {
    background: hsl(209, 23%, 22%)
}

.light, .dark {
    display: flex;
}

.light.hide, .dark.hide { 
    display: none;
    /* visibility: hidden; */
}

.dropdown {
    width: 200px;
}

#dropdown-btn {
    background: hsl(0, 0%, 100%);
}

#dropdown-box {
    background: hsl(0, 0%, 100%);
}

#dropdown-box.hide {
    display: none;
}

body.dark-mode #dropdown-btn, body.dark-mode #dropdown-box {
    background: hsl(209, 23%, 22%);
}

ul { list-style: none;}

#countries {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

@media only screen and (max-width: 991.99px) {
    #countries {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}

@media only screen and (max-width: 575.99px) {
    #countries {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

.country-card {
    overflow: hidden;
    box-shadow: 0px 0px 8px 1px rgba(200,200,200,0.25);
}

.card-body {
    background: hsl(0, 0%, 100%);
}

body.dark-mode .card-body {
    background: hsl(209, 23%, 22%);
}